<div class="container">
  <div class="user-panel">
   <mat-icon class="account-circle">account_circle</mat-icon>
    <div class="info-panel">
      <div class="info">
        <span>Email:</span>
        <span>{{email}}</span>
      </div>
      <div class="info">
        <span>Uid:</span>
        <span>{{uid}}</span>
      </div>
      <div class="info">
       <span>Display Name:</span>
      <span>{{displayName}}</span>
      </div>
      <div class="info">
      <span>Provider:</span>
      <span>{{provider}}</span>
      </div>
      <button mat-raised-button (click)="logOut()" >Log Out</button>
    </div>
  </div>









</div>
