<div class="container">
  <div class="user-panel">
   <mat-icon class="account-circle">account_circle</mat-icon>
    <div class="info-panel">
      <div class="info">
        <span>Email:</span>
        <span>{{email}}</span>
      </div>
      <div class="info">
        <span>Uid:</span>
        <span>{{uid}}</span>
      </div>
      <div class="info">
       <span>Last sign in time:</span>
      <span>{{lastSignInTime}}</span>
      </div>
      <div class="info">
      <span>Creation time:</span>
      <span>{{creationTime}}</span>
      </div>
    </div>
  </div>









</div>
